* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background Color */
body {
    background-color: #d9dcd6;
}

/* Header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* H1 in Header */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* SEO in Header */
.seo {
    color: #d9dcd6;
}

/* Header Navigation Bar */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Header Navigation Bar List */
.header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* Text Styles */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Hero Background Image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

 /* Image Float in Main */ 
.float-left {
    float: left;
    margin-right: 25px;
}

 /* Image Float in Main */ 
.float-right {
    float: right;
    margin-left: 25px;
}

/* Content in Main */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Main Content */
.main-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Main Images*/
.main-content img {
    max-height: 200px;
}

/* H2 in Main */
.main-content h2 {
    margin-bottom: 20px;
    font-size: 36px
}

/* Aside */
.aside-benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Section in Aside */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Aside Images */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* H3 in Aside */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* H2 in Footer */
.footer h2 {
    font-size: 20px;
}

/* Refactoring by Matt Kelly 10/12/2023 */